<!DOCTYPE html>
{% load comments tagging_tags humanize %}
<html>
	<head>
		{% block style %}
		<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}style/reset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}style/text.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}style/960.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}style/ideas.css" />	
			{% block add_style %}
			{% endblock add_style %}			
		{% endblock style %}
	
		{% block script %}
		<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery-1.4.3.min.js"></script> 
		<script type="text/javascript" src="{{ MEDIA_URL }}scripts/ideas.js"></script> 
			{% block add_script %}
			{% endblock add_script %}
		{% endblock script %}
	
		<title>
			{% block title %}
				Ideas
			{% endblock title %}
		</title>
	</head>
	<body>
        {% block messages %} {% if messages %} <div class="messages">
                    <ul>
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}

		<div id="header" class="container_16">
			<div id="header_content" class="grid_10 prefix_3 suffix_3">
                <div id="home_nav">
                    <a href="/">Home</a>
                </div>
                <div class="prefix_9">
                    {% if user.username != '' %}
                        <a href="/accounts/logout">Logout</a>
                    {% else %}
                        <a href="/accounts/login/">Login</a>
                    {% endif %}
                </div>
				{% block header %}
				{% endblock header %}
			</div>
		</div><!-- /#header -->
		<div class="clear"></div>
		<div id="main" class="container_16">
			<div id="content" class="grid_10 prefix_3">
				{% block content %}
				{% endblock content %}
			</div><!-- /#content -->
            <div id="sidebar" class="grid_3"> 
                {% block sidebar %} 
                <div id="tags_counted" class="idea"> 
                    <div class="title">
                        <h3>Tags</h3> 
                    </div>
                    {% tags_for_model idea.Idea as idea_tags with counts %} 
                    <ul> 
                        {% for idea_tag in idea_tags %} 
                            <li> 
                                <a href="/ideas/tag/{{ idea_tag }}/">{{ idea_tag }}</a> 
                                <span class="tag_count">({{ idea_tag.count }})</span> 
                            </li> 
                        {% endfor %} 
                    </ul> 
                </div><!-- /#tags_for_model_list --> 
                <div class="clear"></div> 
                {% endblock sidebar %} 
            </div><!-- /#sidebar --> 
		<div class="clear"></div>
		</div><!-- /#main -->
		<div id="footer" class="container_16">
			{% block footer %}
			{% endblock footer %}
		</div><!-- /#footer -->
	</body>
</html>
